.menu li{

	border: 1px solid black;
	display: inline;
}

.menu ul{
	padding-bottom: : 3px;
}

.menu a.is-current{
	font-style: italic;
	background-color: #ccffcc;
}

.menu{
	text-align: right;
}