.menu { text-align: center; 
font-size: 25px;

}

.menu ul{
	list-style-type: none;
	margin:0;
	padding: 0;

	
}
.menu li{
	display: inline-block;
	border: 2px solid ;
	background-color: grey;
}
.menu a {
	display: block;
	color: white;
	padding: 30px 40px;
	text-decoration: none;
}
.menu a:hover {
	background-color: darkred;
}
.is-current {
	background-color: red;
	color:white;

}
