@media (max-width: 580px) {
  .menu ul, .menu li { display: block; } 
}

.menu ul{
  margin: 20px;
  padding-left: 0;
  list-style-type: none;

  display: flex;
  justify-content: center;

}

.menu li{

	border-style:  groove;
	padding: 0px;

}

.menu a{

  display: block;
	padding: 10px;
  text-decoration: none;
  color: #492113;


}

.menu a.is-current{
  background-color : #92DFE8;
}

.menu a:hover{
  color: white;
  background-color:#492113;
}

